body {
    background-color: powderblue;
    font-family: monospace;
}

.flex-container {
    display: flex;
    width: 250px;
    background-color: powderblue;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}
.flex-item { 
    width: 30%;
    margin: 1em;
    text-align: center;  
 }
.Cooper{
    display: flex;
    flex-wrap: wrap;
}
h1 {
    text-align: center;  
}
#section-item {
    margin: 0 auto;
    width: 200px; 
}
p{
    text-align: justify;
}
.content {
display: flex;
flex-wrap: wrap;
}